<div>Cookies accepted: ${"" + data.cookiesAccepted}</div>
<div>Data: ${JSON.stringify(data)}</div>
<if (!data.cookiesAccepted)>
	<div class="cookie-message">
		Please accept cookies! Now! Please!
	</div>
</if>