
*, *:before, *:after {
	box-sizing: inherit;;
}

html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font: 16px "Roboto Slab", serif;
	color: #444;
	background-color: #fff;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: #4077c8;
	text-decoration: none;

	transition: color .3s ease;
}

a[target="_blank"]:before {
	display: inline-block;
	content: '\2197';
	margin-right: .2em;

	font-weight: bold;
}

a:hover {
	color: #3e55a3;
	text-decoration: underline;
}

a:active {
	color: #3a4387;
}

nav {
	display: block;
	width: 100%;
	height: 40px;
}

nav:after {
	display: block;
	content: "";
	clear: both;
}

.navbar {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 10px;

	background-color: #192136;
	color: #fff;
}

.navbar-brand {
	display: block;
	float: left;

	line-height: 40px;
	font-size: 20px;
	text-decoration: none;
	color: inherit;

	transition: none;
}

.navbar-brand:hover {
	text-decoration: underline;
	color: inherit;
}

.navbar-links {
	float: left;
	margin: 0;
	margin-left: 10px;
	padding: 0;
	list-style-type: none;
}

.navbar-links li {
	display: block;
	height: 40px;
	float: left;
}

.navbar-links a {
	display: block;
	line-height: 40px;
	padding: 0 5px;
	color: inherit;
}

.navbar-user {
	float: right;
	line-height: 20px;
	height: 40px;

	text-align: right;
	font-size: 14px;
}

.navbar-user.single-line {
	line-height: 40px;
}

.navbar-user a {
	color: #fff;
	text-decoration: underline;
}

.content {
	flex-grow: 1;
}

footer {
	padding: 10px 0;

	font-size: 0.8em;
	text-align: center;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.message-box {
	padding: 15px 20px;

	background-color: #eeeeee;
	color: #222;
}

.cookie-message {
	background-color: #2f355f;
	color: #fff;
}

.js-message {
	background-color: #ffd625;
	color: #000;
}

.abimotto-message {
	margin: 20px 0;

	background-color: #8ad43c;
}

.message-button {
	display: inline-block;
	padding: 5px 10px;
	margin-top: 10px;

	background-color: #fff;
	color: #000;
	cursor: pointer;
}

.message-button:hover {
	text-decoration: none;
	color: #000;
	background-color: #ddd;
}

.red {
	color: #cc392a;
}

.green {
	color: #50b307;
}

.block-form {
	display: block;
}

.block-form .form-row {
	display: block;
	padding: 10px;
}

.block-form input[type="text"],
.block-form input[type="password"] {
	display: inline-block;
	width: 200px;
	padding: 0 10px;

	vertical-align: middle;
	font-size: 16px;
	font-family: inherit;
	line-height: 32px;
	border: 1px solid #979797;
	border-radius: 0;
	background: none;
	background-color: #e5e5e5;
	box-shadow: 0 0 5px rgba(100, 100, 100, .3) inset;

	transition: background-color .3s ease;
}

.block-form input[type="text"].error,
.block-form input[type="password"].error {
	border-color: #cc392a;
	background-color: #ffc9af;
}

.block-form input[type="text"]:focus,
.block-form input[type="password"]:focus {
	background-color: #fff;
	outline: 1px solid #4894ff;
}

.block-form input[type="text"].error:focus,
.block-form input[type="password"].error:focus {
	background-color: #ffdccb;
}

.block-form button,
.block-form input[type="submit"] {
	display: inline-block;
	width: auto;
	padding: 0 10px;

	vertical-align: middle;
	font-size: 16px;
	font-family: inherit;
	line-height: 32px;
	border: none;
	border-radius: 0;
	background: none;
	background-color: #192136;
	color: #fff;
	cursor: pointer;

	transition: background-color .3s ease;
}

.block-form button:disabled,
.block-form input[type="submit"]:disabled {
	background-color: #c4c4c4;
}

.block-form button:enabled:hover,
.block-form input[type="submit"]:enabled:hover {
	background-color: #4783d7;
}

.block-form button:enabled:active,
.block-form input[type="submit"]:enabled:active {
	background-color: #4894ff;
}

@media (max-width: 768px) {
	.content {
		width: 100%;
		padding: 0 10px;
	}
}
