
.cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: visible;
	pointer-events: none;
	user-select: none;

	transition: left .1s linear, top .1s linear;
}

.cursor:after {
	display: block;
	content: '';
	width: 12px;
	height: 19px;
	position: absolute;
	top: 0;
	left: 0;

	background-image: url("cursor.png");
	background-repeat: no-repeat;
}

.cursor > div {
	padding: 2px;
	line-height: 10px;
	position: absolute;
	bottom: 5px;
	left: 5px;
	white-space: nowrap;

	font-size: 10px;
	background-color: rgba(0, 0, 0, .4);
	color: #fff;
}
