<include("./layout/default.marko") title="About" description="Max Klein's personal website">
    <@content>
		<h1>About me</h1>
		<p>
			I enjoy programming and stuff. Visit some profiles of mine:
		</p>
		<ul>
			<li>StackOverflow: <a href="http://stackoverflow.com/users/3593126/maxkl?tab=profile" target="_blank">maxkl</a></li>
			<li>GitHub: <a href="https://github.com/maxkl" target="_blank">maxkl</a></li>
		</ul>
    </@content>
</include>
