<layout-use template="./layout/default.marko" description="Max Klein's personal website">
	<layout-put into="content">
		<for each="section in data.sections">
			<h2>${section.title}</h2>
			<ul>
				<li for="link in section.links">
					<a href="${link.href}" target="${link.external ? '_blank' : null}">${link.title}</a>
				</li>
			</ul>
		</for>
	</layout-put>
</layout-use>