<layout-use template="./layout/default.marko" title="Legal notice" description="Legal Notice of maxkl.de">
	<layout-put into="content" >
		<h1>Legal notice</h1>
		<p>
			TODO
		</p>
		<a href="/">To the start page</a>
	</layout-put>
</layout-use>