<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Powered by :: ${data.site.title}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
	</head>
	<body>
		<h1>Powered by</h1>
		<ul>
			<li>OS: Ubuntu 14.04 LTS</li>
			<li>Server: <a href="https://nodejs.org/" target="_blank">node.js</a> (<a href="http://expressjs.com" target="_blank">express</a>)</li>
			<li>Database: <a href="https://mongodb.org" target="_blank">MongoDB</a> (<a href="https://npmjs.com/mongodb" target="_blank">mongodb</a>)</li>
			<li>Templating engine: <a href="http://markojs.com" target="_blank">marko</a></li>
		</ul>
	</body>
</html>