<ul>
    <li for(project in projects)>
        <a href="/projects/${project.name}">${project.title}</a> ${project.shortDesc} <a if(project.link) href=project.link target="_blank">Open</a>
    </li>
</ul>
