<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${(data.title ? data.title + " :: " : "") + out.global.site.title}</title>

		<meta name="description" content="${data.description}" />
		<meta property="og:title" content="${data.ogTitle || data.title || 'maxkl.de'}" />
		<meta property="og:description" content="${data.ogDescription || data.description}" />
		<meta if="data.ogImage" property="og:image" content="${data.ogImage}" />
		<meta else property="og:image" content="" />
		<!-- TODO: favicon -->

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link if="!data.excludeDefaultStylesheet" rel="stylesheet" type="text/css" href="/css/index.css" />
		<layout-placeholder name="stylesheets"></layout-placeholder>
	</head>
	<body>
		<div if="!data.excludeCookieMessage && !out.global.cookiesAccepted" class="cookie-message" id="cookie-message">
			This site uses cookies. They are required to store whether you are signed in
			and to improve your overall experience.
			They are <strong>not</strong> used to track you or to analyze your behaviour!
			<strong>No cookies are created until you accept this message.</strong>
			<br />
			<a href="/accept-cookies" class="accept-cookies" id="accept-cookies">Accept</a>
			<script>
				document.getElementById("accept-cookies").addEventListener("click", function (evt) {
					evt.preventDefault();
					document.cookie = "a=1" + "; expires=" + new Date(Date.now() + 1000 * 60 * 60 * 24 * 365 * 25) + "; path=/; domain=.maxkl.de";
					document.getElementById("cookie-message").style.display = "none";
				});
			</script>
		</div>
		<noscript if="!data.excludeJsMessage">
			<div class="js-message">
				For full functionality of this site it is necessary to enable JavaScript.
				Here are the <a href="http://www.enable-javascript.com/" target="_blank">
				instructions how to enable JavaScript in your web browser</a>.
			</div>
		</noscript>

		<div class="content">
			<layout-placeholder name="content"></layout-placeholder>
		</div>

		<script src="/js/main.js"></script>
	</body>
</html>