<layout-use("../layout/default.marko") title="Not found"
    description="This page could not be found">
    <layout-put into="content">
        <h1>Oops! (404)</h1>
        <p>Move along, nothing to see here!</p>
        <a href="/">To the start page</a>
    </layout-put>
</layout-use>
