{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          {{.}}
        {{ end }}

        {{/* initialize to empty slice */}}
        {{ $pages := slice }}

        {{/* Select all pages which have the "featured" parameter */}}
        {{ range site.RegularPages }}
          {{ if isset .Params "featured" }}
            {{/* Append to the pages slice */}}
            {{ $pages = $pages | append . }}
          {{ end }}
        {{ end }}

        <div class="posts-list">
          {{ range sort $pages "Params.featured" }}
            {{ partial "post_preview" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
