<layout-use template="../layout/default.marko" title="Sign in" description="Sign in to maxkl.de">
	<layout-put into="content" >
		<h1>Sign in</h1>
		<a href="/">To the start page</a>
	</layout-put>
</layout-use>