<layout-use("../layout/default.marko") title="User info"
    description="Your user account information at maxkl.de">
    <layout-put into="content">
        <h1>User info</h1>
        <p>
            User id: ${data.user.id}<br />
            E-mail: ${data.user.email}<br />
            Name: ${data.user.name}<br />
			Level: ${data.user.level}<br />
        </p>
    </layout-put>
</layout-use>
