<include("../layout/default.marko") title="User info"
    description="Your user account information at maxkl.de">
    <@content>
        <h1>Users</h1>
        <ul>
			<li for(user in input.users)>
				<ul>
					<li>Id: ${user._id}</li>
					<li>E-mail: ${user.email}</li>
					<li>Name: ${user.name}</li>
					<li>Level: ${user.level}</li>
				</ul>
			</li>
		</ul>
    </@content>
</include>
