<include("../layout/default.marko") title="User info"
    description="Your user account information at maxkl.de">
    <@content>
        <h1>User info</h1>
        <p>
            User id: ${input.user.id}<br />
            E-mail: ${input.user.email}<br />
            Name: ${input.user.name}<br />
			Level: ${input.user.level}<br />
        </p>
    </@content>
</include>
